<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <img id="hamburger" src="\Assets\hamburger.png" alt="">
    </label>
    <label class="logo"><img src="\Assets\nav-logo.png" alt=""></label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/number">Dice</a></li>
        <li><a href="/song">Musical Games</a></li>
        <li><a href="/tad">Questions</a></li>
        <li><a href="/movie">Dumb Charades</a></li>
    </ul>
</nav>