<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>Random App</h1>
    <h2>Random Colour</h2>
    <div>Click Generate Button to generate a random colour :</div>
    <button id="colour">Generate</button>
    <button><a href="/">Go to Home</a></button>
    <h2></h2>
    <script src="\js\colour.js"></script>
</body>

</html>