<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\home.css">
    <link rel="shortcut icon" href="\Assets\favicon.ico" type="image/x-icon">
    <title>Game Aider</title>
</head>

<body>
    <h1>Home of Random App</h1>
    <button id="number"><a href="/number">Dice</a></button>
    <button id="colour"><a href="/song">Musical Games</a></button>
    <button id="tad"><a href="/tad">Truth and Dare</a></button>
    <button id="movie"><a href="/movie">Dumb Charades</a></button>
    <div class="home-row">
        <div class="home-element"></div>
        <div class="home-element"></div>
    </div>
    <div class="home-row">
        <div class="home-element"></div>
        <div class="home-element"></div>
    </div>
</body>

</html>