<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\movie.css">
    <title>Document</title>
</head>

<body>
    <header>
        <form action="" id="form">
            <input type="text" placeholder="search" id="search" class="search">
        </form>
    </header>

    <div id="random">
    </div>
    <button id="generate" onclick="generateMovie()">Generate Random Movie</button>

    <main id="main">

    </main>

    <script src="\js\movie.js"></script>
</body>

</html>