<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Random</title>
</head>

<body>
    <h1>Random App</h1>

    <h2>Random Number</h2>
    <label for="si">Enter lower bound</label>
    <input type="number" id="si" placeholder="lower bound">
    <label for="ei">Enter upper bound</label>
    <input type="number" id="ei" placeholder="upper bound">
    <button id="numberButton">Generate Random Number</button>
    <h3>Your random number is: <span id="answer"></span> </h3>
    <button><a href="/">Go to Home</a></button>
    <script src="\js\number.js"></script>
</body>

</html>