<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>Random App</h1>

    <h2>Any Random Image</h2>
    <button id="Random">Generate</button>
    <div id="randomImage"></div>
    <br>
    <h2>Search Input</h2>
    <label for="photo">Type the topics related to which you want an Image: </label>
    <br>
    <textarea name="photo" id="photo" cols="30" rows="10"
        placeholder="Eg: Dogs or Dogs,cats (no spaces please)"></textarea>

    <script src="\js\photo.js"></script>
</body>

</html>