<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\song.css">
    <link rel="stylesheet" href="\css\navbar.css">
    <link rel="shortcut icon" href="\Assets\favicon.ico" type="image/x-icon">
    <title>Game Aider</title>
</head>

<body>
    <%- include('partials/navbar')%>
        <section>
            <div class="container">
                <p>Click here to Play</p>
                <img src="\Assets\Song\play.jpg" alt="" class="play">
                <audio class="song">
                    <source src="\Assets\Song\134340.mp3" type="audio/mp3">
                </audio>
            </div>

            <div class="container">
                <p>Click here to Play</p>
                <img src="\Assets\Song\play.jpg" alt="" class="play">
                <audio class="song">
                    <source src="\Assets\Song\Baepsae.mp3" type="audio/mp3">
                </audio>
            </div>

            <div class="container">
                <p>Click here to Play</p>
                <img src="\Assets\Song\play.jpg" alt="" class="play">
                <audio class="song">
                    <source src="\Assets\Song\DNA.mp3" type="audio/mp3">
                </audio>
            </div>

            <div class="container">
                <p>Click here to Play</p>
                <img src="\Assets\Song\play.jpg" alt="" class="play">
                <audio class="song">
                    <source src="\Assets\Song\Ddaeng.mp3" type="audio/mp3">
                </audio>
            </div>

            <div class="container">
                <p>Click here to Play</p>
                <img src="\Assets\Song\play.jpg" alt="" class="play">
                <audio class="song">
                    <source src="\Assets\Song\Look Here.mp3" type="audio/mp3">
                </audio>
            </div>
        </section>

        <button><a href="/">Go to Home</a></button>
        <script src="\js\song.js"></script>
</body>

</html>