<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\song.css">
    <link rel="stylesheet" href="\css\navbar.css">
    <link rel="shortcut icon" href="\Assets\favicon.ico" type="image/x-icon">
    <title>Game Aider</title>
</head>

<body>
    <%- include('partials/navbar')%>
        <section id="song-section">
            <img src="\Assets\home\indoor.png" alt="" id="dance">
            <h3> We've got 5 songs for you to play games like musical chairs, passing the parcel or just for
                dancing!<br><br>
                you can choose any!</h3>
            <div class="song-box">
                <div class="song-container">
                    <p>Play Song 1</p>
                    <img src="\Assets\Song\play.png" alt="" class="play">
                    <audio class="song">
                        <source src="\Assets\Song\Baepsae.mp3" type="audio/mp3">
                    </audio>
                </div>

                <div class="song-container">
                    <p>Play Song 2</p>
                    <img src="\Assets\Song\play.png" alt="" class="play">
                    <audio class="song">
                        <source src="\Assets\Song\DNA.mp3" type="audio/mp3">
                    </audio>
                </div>

                <div class="song-container">
                    <p>Play Song 3</p>
                    <img src="\Assets\Song\play.png" alt="" class="play">
                    <audio class="song">
                        <source src="\Assets\Song\134340.mp3" type="audio/mp3">
                    </audio>
                </div>

                <div class="song-container">
                    <p>Play Song 4</p>
                    <img src="\Assets\Song\play.png" alt="" class="play">
                    <audio class="song">
                        <source src="\Assets\Song\Ddaeng.mp3" type="audio/mp3">
                    </audio>
                </div>

                <div class="song-container">
                    <p>Play Song 5</p>
                    <img src="\Assets\Song\play.png" alt="" class="play">
                    <audio class="song">
                        <source src="\Assets\Song\Look Here.mp3" type="audio/mp3">
                    </audio>
                </div>
            </div>
        </section>

        <script src="\js\song.js"></script>
</body>

</html>