<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\song.css">
    <title>Random</title>
</head>

<body>
    <!-- <h1>Random App</h1>
    <h2>Random Colour</h2>
    <div>Click Generate Button to generate a random colour :</div>
    <button id="colour">Generate</button>
    <button><a href="/">Go to Home</a></button>
    <h2></h2> -->

    <section>
        <div class="container">
            <p>Click here to Play</p>
            <img src="\Assets\Song\play.jpg" alt="" id="play1">
            <audio id="Song1">
                <source src="\Assets\Song\134340.mp3" type="audio/mp3">
            </audio>
        </div>

        <div class="container">
            <p>Click here to Play</p>
            <img src="\Assets\Song\play.jpg" alt="" id="play2">
            <audio id="Song2">
                <source src="\Assets\Song\Baepsae.mp3" type="audio/mp3">
            </audio>
        </div>

        <div class="container">
            <p>Click here to Play</p>
            <img src="\Assets\Song\play.jpg" alt="" id="play3">
            <audio id="Song3">
                <source src="\Assets\Song\DNA.mp3" type="audio/mp3">
            </audio>
        </div>

        <div class="container">
            <p>Click here to Play</p>
            <img src="\Assets\Song\play.jpg" alt="" id="play4">
            <audio id="Song4">
                <source src="\Assets\Song\Ddaeng.mp3" type="audio/mp3">
            </audio>
        </div>

        <div class="container">
            <p>Click here to Play</p>
            <img src="\Assets\Song\play.jpg" alt="" id="play5">
            <audio id="Song5">
                <source src="\Assets\Song\Look Here.mp3" type="audio/mp3">
            </audio>
        </div>
    </section>
    <script src="\js\song.js"></script>
</body>

</html>