<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\tad.css">
    <title>Random</title>
</head>

<body>
    <h1>RANDOM NAME PICKER</h1>
    <label for="names">ENTER NAMES</label>
    <textarea name="" id="names" cols="30" rows="10" placeholder="Enter name followed by a ','""></textarea>
    <h2 id=" chosen"></h2>
    <button onclick="pickName()"><a href="#">Pick</a></button>
    <div id="display"></div>

    <div class="popup" id="popup-1">
        <div class="overlay" onclick="togglePopup()"></div>
        <div class="content">
            <div class="close-button" onclick="togglePopup()">&times;</div>
            <h1>Truth Questions</h1>
            <div id="truth-questions">
            </div>
        </div>
    </div>

    <button onclick="togglePopup()">Show PopUp</button>
    <button class="generate">Generate Question</button>
    <div id="question"></div>

    <label for="add">Add your own question : </label>
    <input type="text" id="add" placeholder="Add question">
    <button id="submit-question">Add</button>


    <script src="\js\tad.js"></script>
</body>

</html>