<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\tad.css">
    <link rel="stylesheet" href="\css\navbar.css">
    <link rel="shortcut icon" href="\Assets\favicon.ico" type="image/x-icon">
    <title>Game Aider</title>
</head>

<body>
    <%- include('partials/navbar')%>
        <h1>RANDOM NAME PICKER</h1>
        <label for="names">ENTER NAMES</label>
        <textarea name="" id="names" cols="30" rows="10" placeholder="Enter name followed by a ','""></textarea>
    <h2 id=" chosen"></h2>
    <button onclick="pickName()"><a href="#">Pick</a></button>
    <div id="display"></div>

    <section>
        <div class="box">
            <div class="popup" id="truth">
                <div class="overlay" onclick="toggleTruth()"></div>
                <div class="content">
                    <div class="close-button" onclick="toggleTruth()">&times;</div>
                    <h1>Truth Questions</h1>
                    <h2>Click on a question to remove it</h2>
                    <label for="add">Add your own question : </label>
                    <input type="text" id="addTruth" placeholder="Add question">
                    <button id="submit-question" onclick="addQuestion()">Add</button>
                    <div id="truth-questions">
                    </div>
                </div>
            </div>

            <button onclick="toggleTruth()">View Questions</button>
            <button onclick="generateTruth()">Generate Question</button>
            <div id="question"></div>
        </div>

        <div class="box">
            <div class="popup" id="dare">
                <div class="overlay" onclick="toggleDare()"></div>
                <div class="content">
                    <div class="close-button" onclick="toggleDare()">&times;</div>
                    <h1>Dare Tasks</h1>
                    <h2>Click on a task to remove it</h2>
                    <label for="add">Add your own task : </label>
                    <input type="text" id="addTask" placeholder="Add task">
                    <button id="submit-task" onclick="addTask()">Add</button>
                    <div id="dares">
                    </div>
                </div>
            </div>

            <button onclick="toggleDare()">View Dares</button>
            <button onclick="generateDare()">Generate Dare</button>
            <div id="task"></div>
        </div>

        <div class="box">
            <div class="popup" id="never">
                <div class="overlay" onclick="toggleNever()"></div>
                <div class="content">
                    <div class="close-button" onclick="toggleNever()">&times;</div>
                    <h1>Truth Questions</h1>
                    <h2>Click on the question to remove it</h2>
                    <label for="add">Add your own question : </label>
                    <input type="text" id="addNever" placeholder="Add question">
                    <button id="submit-never" onclick="addNever()">Add</button>
                    <div id="never-questions">
                    </div>
                </div>
            </div>

            <button onclick="toggleNever()">View Questions</button>
            <button onclick="generateNever()">Generate Never Have I Ever</button>
            <div id="neverHaveI"></div>
        </div>
    </section>
    <script src="\js\tad.js"></script>
</body>

</html>